build/
build-*/
dist/
*.exe
!app/native/*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.rpm
*.deb
*.tar.gz
*.zip
node_modules/
app/node_modules/
dist-gui/
.pnpm-store/
*.log
active_session.json
.vscode/
.idea/
